// Grey
$grey-1: #fafafa;
$grey-2: #f5f5f5;
$grey-3: #eeeeee;
$grey-4: #e0e0e0;
$grey-5: #bdbdbd;
$grey-10: #757575;

$color-white: #ffffff;


// Flash message
$success-background:#DAFBE1;
$success-color:#155724;
$success-border:#A0E5B2;
$warning-background:#FFF8C5;
$warning-color:#856404;
$warning-border:#EED888;
$error-background:#FFEBE9;
$error-color:#7F2E36;
$error-border:#FFC0C0;
$info-background:#DDF4FF;
$info-color:#0C5460;
$info-border:#A6D9FF;


// Border radius
$border-radius-xxs: 5px;
$border-radius-xs: 10px;
$border-radius-sm: 15px;
$border-radius-m: 20px;

// Color
$blue-2: #bbdefb;
$blue-3: #90caf9;
$blue-4: #64b5f6;
$blue-5: #2196f3;
$blue-6: #273493;

// Green
$green-5: #4caf50;

// Orange
$orange: #F5A012;
$orange-5: #ff9800;